MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=Omni_Management

BQ_PROJECT_ID=dbtperatice
BQ_DATASET=omni_management

# Only needed if not using auth_bigquery.py's ADC flow
# GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account-key.json
